@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@300;400;700&display=swap');

.founderSection {
    font-family: 'Science Gothic', sans-serif;
  
  background: white;
  color: #353535ff;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 3rem;
  flex-wrap: wrap;
}

.imageWrapper {
  flex: 1 1 300px;
  text-align: center;
}

.founderImage {
  width: 100%;
  max-width: 350px;
  object-fit: cover; 
}

.textWrapper {
  padding: 2rem;
  flex: 1 1 400px;
}

.heading {
  font-family: "Science Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #76d4ffff;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 400;
  opacity: 0.9;
}

.button {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: #76d4ffff;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background: #04bcffff;
  box-shadow: 0 8px 25px rgba(79, 195, 247, 0.5);
}
.valuesWrapper1 {
  background-color: #25517aff;
  text-align: center;
  margin-top: 1rem;
    padding: 3rem 2rem;
    width: auto;
}
.valuesWrapper1 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1dcaf9ff;
}
.valuesText1 {
  max-width: 900px;
  margin: auto;
  font-size: 1.05rem;
  line-height: 1.8;
  color: #81e2ffff;
  margin-bottom: 2rem;
}
.button1 {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #1dcaf9ff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.button1:hover {
  background-color: #0bb8e6ff;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 0rem;
  }
  .valuesWrapper1 h3 {
    font-size: 1.5rem;
  }
  .heading {
    font-size: 1.5rem;
  }

  .textWrapper {
    max-width: 100%;
  }
}
