.heroSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Science Gothic', sans-serif;
}

/* VIDEO BACKGROUND */
.heroBackground {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
.heroOverlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.55); */
  background-color : rgba(28, 164, 255, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 6vw;
}

/* GRID LAYOUT */
.heroGrid {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 4rem;
}

/* LEFT CONTENT */
.heroLeft {
  color: white;
  animation: fadeInUp 1s ease;
}

.heroTitle {
  font-size: clamp(2.5rem, 4vw, 3.2rem);
  font-weight: 600;
  line-height: 1.15;
}

.heroSubtitle {
  margin-top: 1.2rem;
  max-width: 520px;
  font-size: 1rem;
  opacity: 0.95;
}

/* RIGHT IMAGE */
.heroRight {
  display: flex;
  justify-content: center;
}

.heroImage {
 
  height: 70vh;
  margin:auto;
  border-radius: 16px;

  animation: fadeInUp 1.2s ease;
}

/* WAVES */
.waveLayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, transparent, white);
  z-index: 3;
}

/* ANIMATION */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    
  .heroGrid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0rem;
  }
  .heroImage {
    height: 50vh;
    margin-top: 5rem;
  }

  .heroLeft {
    order: 2;
  }

  .heroRight {
    order: 1;
    margin-bottom: 2rem;
  }

  .heroSubtitle {
    margin-left: auto;
    margin-right: auto;
  }
}
