@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@300;400;700&display=swap');

.founderSection {
    font-family: 'Science Gothic', sans-serif;
  padding: 6rem 2rem;
  background: linear-gradient(135deg, #e0f7ff, #c2e7ff);
  color: #353535ff;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 3rem;
  flex-wrap: wrap;
}

.imageWrapper {
  flex: 1 1 300px;
  text-align: center;
}

.founderImage {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

.founderImage:hover {
  transform: scale(1.03);
}

.textWrapper {
  background: url('../assets/back.png');
  background-size: cover;
  background-position: center;
  padding: 2rem;
  flex: 1 1 400px;
}

.heading {
  font-family: "Science Gothic", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #003f5cff;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: 400;
  opacity: 0.9;
}

.button {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(135deg, #4fc3f7, rgba(0, 153, 255, 0.7));
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background: #04bcffff;
  box-shadow: 0 8px 25px rgba(79, 195, 247, 0.5);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .textWrapper {
    max-width: 100%;
  }
}
